.main_div {
  width: 900px;
  margin: auto;
  padding: 10px;
  background-color: #ede4e4;
}
h1 {
  text-align: center;
}
form.row.g-3.form_div {
  width: 700px;
  margin: auto;
  padding: 10px;
}
label.form-label.label_bold {
  font-size: medium;
  font-family: auton;
  font-weight: 600;
}
p.resi_address {
  margin-top: 35px;
  margin-bottom: -13px;
  font-weight: 600;
  font-family: auto;
}
p.perma_address {
  margin-top: 10px;
  margin-bottom: -13px;
  font-weight: 600;
  font-family: auto;
}

label.form-check-label.same_as{
  font-size: medium;
    font-family: auton;
    font-weight: 600;
}
.col-12.same_as_resi {
  margin-top: 40px;
}
.error{
  color:red;
}
